# Explore the OpenBreweryDB API

In [1]:
# Import dependencies 
import pandas as pd 
import numpy as np
import requests 
import json
from pprint import pprint

In [ ]:
https://sandbox-api.brewerydb.com/v2/
Sandbox Key:c13c821fb670e2fb8cf9a31b4d335d96

In [ ]:
brewery_url = "https://sandbox-api.brewerydb.com/v2/"
brewery_data = requests.get(brewery_url).json()
pprint(brewery_data)

In [ ]:
# brewery_url = "https://api.openbrewerydb.org/breweries?per_page=25"
# brewery_data = requests.get(brewery_url).json()
# pprint(brewery_data)

In [ ]:
# brewery_df = pd.DataFrame(brewery_data)
# brewery_df

# Exploring the CSV format

In [2]:
# Read in the CSV using pandas and save into dataframe 
brewery_df = pd.read_csv("https://raw.githubusercontent.com/openbrewerydb/openbrewerydb/master/breweries.csv")
brewery_df

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags,notes
0,siluria-brewing-company,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,2.054828e+09,2018-07-24 01:32:48,2018-08-23 23:20:27,United States,-86.816377,33.244281,NaN,NaN
1,cheaha-brewing-co,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,2.567707e+09,2018-07-24 01:32:47,2018-08-23 23:20:09,United States,-85.833774,33.660167,NaN,NaN
2,avondale-brewing-co,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,2.057775e+09,2018-07-24 01:32:47,2018-08-23 23:19:58,United States,-86.774322,33.524521,NaN,NaN
3,trim-tab-brewing,Trim Tab Brewing,micro,2721 5th Ave S,Birmingham,Alabama,35233-3401,http://www.trimtabbrewing.com,2.057031e+09,2018-07-24 01:32:48,2018-08-23 23:20:31,United States,-86.791400,33.512849,NaN,NaN
4,cahaba-brewing-co,Cahaba Brewing Co,micro,4500 5th Ave S Ste C,Birmingham,Alabama,35222-2911,http://www.cahababrewing.com,2.059669e+09,2018-07-24 01:32:47,2018-08-11 21:35:44,United States,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7918,sheridan-brewing-company,Sheridan Brewing company,planning,NaN,Sheridan,Wyoming,82801,NaN,NaN,2018-07-24 01:34:38,2018-08-11 21:40:39,United States,NaN,NaN,NaN,NaN
7919,luminous-brewhouse,Luminous Brewhouse,micro,504 Broadway St,Sheridan,Wyoming,82801-3619,http://www.luminousbrewhouse.com,NaN,2018-07-24 01:34:37,2018-08-24 16:46:54,United States,-106.953486,44.802972,NaN,NaN
7920,black-tooth-brewing-co,Black Tooth Brewing Co,micro,312 Broadway St,Sheridan,Wyoming,82801-3917,http://www.blacktoothbrewingcompany.com,3.076752e+09,2018-07-24 01:34:37,2018-08-24 16:46:41,United States,-106.953506,44.800895,NaN,NaN
7921,ten-sleep-brewing-company,Ten Sleep Brewing Company,micro,2549 Hwy 16,Ten Sleep,Wyoming,82442,http://www.tensleepbrewingco.com,3.073662e+09,2018-07-24 01:34:38,2018-08-11 21:40:39,United States,NaN,NaN,NaN,NaN
7922,one-eyed-buffalo-brewing-company-llc,One Eyed Buffalo Brewing Company LLC,brewpub,528 Broadway St,Thermopolis,Wyoming,82443-2718,NaN,3.078644e+09,2018-07-24 01:34:38,2018-08-24 16:47:00,United States,-108.210788,43.646092,NaN,NaN

In [3]:
# Overview of brewery dataframe 
brewery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7923 entries, 0 to 7922
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7923 non-null   object
 1   name          7923 non-null   object
 2   brewery_type  7923 non-null   object
 3   street        6845 non-null   object
 4   city          7923 non-null   object
 5   state         7923 non-null   object
 6   postal_code   7923 non-null   object
 7   website_url   6489 non-null   object
 8   phone         6980 non-null   float64
 9   created_at    7923 non-null   object
 10  updated_at    7923 non-null   object
 11  country       7923 non-null   object
 12  longitude     4737 non-null   float64
 13  latitude      4737 non-null   float64
 14  tags          0 non-null      float64
 15  notes         0 non-null      float64
dtypes: float64(5), object(11)
memory usage: 990.5+ KB

In [4]:
# Identify and count null values in each column in df 
nan_count = brewery_df.isnull().sum()
nan_count[nan_count > 0].sort_values(ascending = False)

notes          7923
tags           7923
latitude       3186
longitude      3186
website_url    1434
street         1078
phone           943
dtype: int64

In [5]:
# Drop the columns that contain only null values (notes and tags)
brewery_df = brewery_df.drop(['notes', 'tags'], axis = 1)

### Dropping unecessary columns 
created_at, updated_at

In [6]:
brewery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7923 entries, 0 to 7922
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7923 non-null   object
 1   name          7923 non-null   object
 2   brewery_type  7923 non-null   object
 3   street        6845 non-null   object
 4   city          7923 non-null   object
 5   state         7923 non-null   object
 6   postal_code   7923 non-null   object
 7   website_url   6489 non-null   object
 8   phone         6980 non-null   float64
 9   created_at    7923 non-null   object
 10  updated_at    7923 non-null   object
 11  country       7923 non-null   object
 12  longitude     4737 non-null   float64
 13  latitude      4737 non-null   float64
dtypes: float64(3), object(11)
memory usage: 866.7+ KB

In [7]:
brewery_df = brewery_df.drop(['created_at', 'updated_at'], axis = 1)

In [8]:
brewery_df["name"].value_counts()

Granite City Food & Brewery      6
Ballast Point Brewing Company    6
10 Barrel Brewing Co             5
Flix Brewhouse                   4
Southern Tier Brewing Co         3
                                ..
Branchline Brewing Company       1
Frankenmuth Brewing Co           1
Sinistral Brewing Company        1
Crooked Pecker Brewing           1
Thompson Brewing Co              1
Name: name, Length: 7794, dtype: int64

### Standardising the zip code column

In [9]:
# Check the min and mac length of values in the postal Code column 
postal_check = brewery_df['postal_code'].apply(len)
print(f"Max zip_code length is {postal_check.max()}.")
print(f"Min zip_code length is {postal_check.min()}.")

Max zip_code length is 10.
Min zip_code length is 3.

In [10]:
# Check the rows where the postal code length is 3 and drop it 
brewery_df[brewery_df.postal_code.str.len() == postal_check.min()]
brewery_df = brewery_df.loc[~(brewery_df['postal_code'] == "TBD")]
brewery_df.head()

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,country,longitude,latitude
0,siluria-brewing-company,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,2.054828e+09,United States,-86.816377,33.244281
1,cheaha-brewing-co,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,2.567707e+09,United States,-85.833774,33.660167
2,avondale-brewing-co,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222-1932,http://www.avondalebrewing.com,2.057775e+09,United States,-86.774322,33.524521
3,trim-tab-brewing,Trim Tab Brewing,micro,2721 5th Ave S,Birmingham,Alabama,35233-3401,http://www.trimtabbrewing.com,2.057031e+09,United States,-86.791400,33.512849
4,cahaba-brewing-co,Cahaba Brewing Co,micro,4500 5th Ave S Ste C,Birmingham,Alabama,35222-2911,http://www.cahababrewing.com,2.059669e+09,United States,NaN,NaN

In [11]:
# Get rid of the rows that have 4 digit postal codes and null lat and long values
brewery_df = brewery_df.loc[~((brewery_df['postal_code'].str.len() == 4) &
                             (brewery_df['longitude'].isnull())),:]

In [12]:
brewery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7862 entries, 0 to 7922
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7862 non-null   object
 1   name          7862 non-null   object
 2   brewery_type  7862 non-null   object
 3   street        6818 non-null   object
 4   city          7862 non-null   object
 5   state         7862 non-null   object
 6   postal_code   7862 non-null   object
 7   website_url   6450 non-null   object
 8   phone         6939 non-null   float64
 9   country       7862 non-null   object
 10  longitude     4737 non-null   float64
 11  latitude      4737 non-null   float64
dtypes: float64(3), object(9)
memory usage: 798.5+ KB

In [13]:
brewery_df[brewery_df.postal_code.str.len() == 5]

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,country,longitude,latitude
7,brewpub-in-planning-birmingham,Brewpub In Planning - Birmingham,planning,NaN,Birmingham,Alabama,35222,NaN,2.565855e+09,United States,-86.802433,33.520682
10,goat-island-brewing,Goat Island Brewing,micro,1646 A John H Cooper Drive,Cullman,Alabama,35055,http://www.goatislandbrewing.com,2.565909e+09,United States,NaN,NaN
21,chandlers-ford-brewing-llc,Chandler's Ford Brewing LLC,planning,NaN,Huntsville,Alabama,35802,http://chandlersfordbrewing.com,2.564577e+09,United States,-86.585901,34.729847
33,haint-blue-brewing-company,Haint Blue Brewing Company,contract,806 Monroe Street,Mobile,Alabama,36602,http://haintbluebrew.com,NaN,United States,-88.051262,30.684743
36,common-bond-brewers-llc,"Common Bond Brewers, LLC",micro,424 Bibb Street Suite 150,Montgomery,Alabama,36104,http://www.commonbondbrewers.com,3.346762e+09,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7914,brewery-in-planning-riverton-wy,"Brewery in Planning - Riverton, WY",planning,NaN,Riverton,Wyoming,82501,NaN,3.077091e+09,United States,NaN,NaN
7916,square-state-brewing,Square State Brewing,micro,422 S Main St,Rock Springs,Wyoming,82901,NaN,3.073626e+09,United States,-109.220640,41.586247
7917,snowy-mountain-brewery,Snowy Mountain Brewery,brewpub,601 E Pic Pike Rd,Saratoga,Wyoming,82331,NaN,8.005940e+09,United States,NaN,NaN
7918,sheridan-brewing-company,Sheridan Brewing company,planning,NaN,Sheridan,Wyoming,82801,NaN,NaN,United States,NaN,NaN
7921,ten-sleep-brewing-company,Ten Sleep Brewing Company,micro,2549 Hwy 16,Ten Sleep,Wyoming,82442,http://www.tensleepbrewingco.com,3.073662e+09,United States,NaN,NaN

In [14]:
# Clean the postal codes and retain only the first 5 characters 
brewery_df['postal_code'] = brewery_df['postal_code'].apply(lambda x: x.split("-")[0].strip())

In [25]:
brewery_df[brewery_df.postal_code.str.len() == 5]

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,country,longitude,latitude
0,siluria-brewing-company,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007,http://www.siluriabrewing.com,2.054828e+09,United States,-86.816377,33.244281
1,cheaha-brewing-co,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201,http://www.cheahabrewingcompany.com,2.567707e+09,United States,-85.833774,33.660167
2,avondale-brewing-co,Avondale Brewing Co,micro,201 41st St S,Birmingham,Alabama,35222,http://www.avondalebrewing.com,2.057775e+09,United States,-86.774322,33.524521
3,trim-tab-brewing,Trim Tab Brewing,micro,2721 5th Ave S,Birmingham,Alabama,35233,http://www.trimtabbrewing.com,2.057031e+09,United States,-86.791400,33.512849
4,cahaba-brewing-co,Cahaba Brewing Co,micro,4500 5th Ave S Ste C,Birmingham,Alabama,35222,http://www.cahababrewing.com,2.059669e+09,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7918,sheridan-brewing-company,Sheridan Brewing company,planning,NaN,Sheridan,Wyoming,82801,NaN,NaN,United States,NaN,NaN
7919,luminous-brewhouse,Luminous Brewhouse,micro,504 Broadway St,Sheridan,Wyoming,82801,http://www.luminousbrewhouse.com,NaN,United States,-106.953486,44.802972
7920,black-tooth-brewing-co,Black Tooth Brewing Co,micro,312 Broadway St,Sheridan,Wyoming,82801,http://www.blacktoothbrewingcompany.com,3.076752e+09,United States,-106.953506,44.800895
7921,ten-sleep-brewing-company,Ten Sleep Brewing Company,micro,2549 Hwy 16,Ten Sleep,Wyoming,82442,http://www.tensleepbrewingco.com,3.073662e+09,United States,NaN,NaN
7922,one-eyed-buffalo-brewing-company-llc,One Eyed Buffalo Brewing Company LLC,brewpub,528 Broadway St,Thermopolis,Wyoming,82443,NaN,3.078644e+09,United States,-108.210788,43.646092

In [16]:
# Verify that all postal codes have 5 characters only 
postal_check = brewery_df['postal_code'].apply(len)
print(f"Max zip_code length is {postal_check.max()}.")
print(f"Min zip_code length is {postal_check.min()}.")

Max zip_code length is 5.
Min zip_code length is 4.